@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  min-height: 700px;
  height: auto;
 
  justify-content: center;
  background: -webkit-linear-gradient(90deg, hsla(12, 84%, 68%, 1) 0%, hsla(343, 100%, 66%, 1) 100%);
  /*background: radial-gradient(#fbc1cc, #fa99b2);*/
}
#footer{
    max-width:100%;
background-color:rgb(20, 18, 25);
color: white;
font-size: 20px;
margin:auto;
padding:10px;
box-shadow:  0px 4px 8px 5px rgba(0, 0, 0, 0.2);
overflow: hidden;
display: block;
}


/*informacion del footer*/

.informacione{
    max-width:100%;
    padding: 15px;
    overflow: hidden;
    margin: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content:center;
    text-align: center;
    grid-template-columns:
    repeat(auto-fit,minmax(15rem,1fr));
}

.informacione li{
     list-style-type: none;
}
.informacione a:hover{
    list-style-type: none;
    color: black;
   
}
.spartanfoot{
  font-size: 20px;
  max-width:100%;
  margin:auto;
  padding: 10px;
  text-align: center;
}
.container{

  max-width: 700px;
  width: 100%;
  margin: auto;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  height: auto;
}
.container2{
  max-width: 1200px;
  width: 100%;
  margin: auto;
  background-color: #fff;
  
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  height: auto;
}
.container p{
  padding:5px;
  font-size: 1.0em;
margin:5px;
  letter-spacing: 0.1em;
  text-align: center;
}
.container h3{

margin:5px;
text-align: center;
  letter-spacing: 0.1em;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: -webkit-linear-gradient(90deg, hsla(12, 84%, 68%, 1) 0%, hsla(343, 100%, 66%, 1) 100%);
}
.container2 .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container2 .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: -webkit-linear-gradient(90deg, hsla(12, 84%, 68%, 1) 0%, hsla(343, 100%, 66%, 1) 100%);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 0 12px 0;
}
form .user-details .input-box{
  
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  padding: 4px;
}
.sin{
  text-align: center;
  padding: auto;
  width: 100%;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.sin a:hover{
cursor: pointer;
}

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
 
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus{
  border-color: hsla(343, 100%, 66%, 1);
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #rad_blanco:checked ~ .category label .one,
 #rad_cafe:checked ~ .category label .two,
 #rad_negro:checked ~ .category label .three{
   background: hsla(343, 100%, 66%, 1) ;
   border-color: #d9d9d9;
 }
 .logue{
  margin-bottom:-7px;
 width: 35px;
 height: 35px;
  
  }

 select{
  font-size: 15px;
  padding:5px;
  margin: 10px;
  margin-bottom:15px;
  background-color: #f8f8f8;
 text-decoration: none;
 border-radius: 7px;
 border: 2px solid #ccc;
 width: calc(100%  - 20px);
}
 form input[type="radio"]{
   display: none;
 }
 form .imagen{
  width:100%;
}
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: -webkit-linear-gradient(90deg, hsla(12, 84%, 68%, 1) 0%, hsla(343, 100%, 66%, 1) 100%);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: -webkit-linear-gradient(90deg, hsla(12, 84%, 68%, 1) 0%, hsla(343, 100%, 66%, 1) 100%);
  }

  .sesione img{
   opacity: 0.9;
    border-radius: 10px;
    margin-top:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
  }
  .hola{
    display: relative;
  }
  
  #section{
    height:auto;
    padding:10px;
  }
  #section2{
    height:900px;
    padding:10px;
  }

  .input-box img{
    opacity: 0.9;
     border-radius: 10px;
     margin-top:20px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 30%;
     
   }

   .tabla{
    margin: auto;
  margin-top:5px;

  font-size:12px;
  text-align: center;
    border-collapse: collapse;
    width: 100%;
    
    }
    .tabla .button{
    
      margin:auto;
     text-decoration: none;
     width: 50%;
     background-color: #004BDB;
     color: white;
     padding:5px;    }

     .tabla .button:hover{
     
      box-shadow:  0px 4px 8px 5px rgba(0, 0, 0, 0.2);  }

     .tabla .buttonDelete:hover{
     
      box-shadow:  0px 4px 8px 5px rgba(0, 0, 0, 0.2);  }

      .tabla .buttonDelete{
     
        margin:auto;
        text-decoration: none;
        width: 50%;
        background-color: #FF2E2E;
        color: white;
        padding:5px;    }


    .tabla td, .tabla th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    .tabla tr:nth-child(even){background-color: #f2f2f2;}
    .tabla tr:hover {
  
    background-color:pink;
  color:black}
  td li{
    list-style-type: none;
    margin:10px;
    }
  .tabla thead{
      text-align: center;
      font-size:12px;
        background-color:black;
        color: white;
     
  
        letter-spacing: 0.2em;
        }
    
 @media(max-width: 584px){
 .container{
  max-width: 100%;

}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  
  
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }

}
@media(max-width:800px){
  .hola{
 
    display: none;
    visibility: hidden;
  }
  .input-box img{
    opacity: 0.9;
     border-radius: 10px;
     margin-top:20px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 20%;
     
   }
   body{
    height: 700px;
     
   }

   .container2{
    max-width:99%;
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    height: auto;
  }
  .container2 .title{
    font-size: 15px;
    font-weight: 500;
    position: relative;
  }
  .container2 .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: -webkit-linear-gradient(90deg, hsla(12, 84%, 68%, 1) 0%, hsla(343, 100%, 66%, 1) 100%);
  }

  .tabla{
    margin: auto;
  margin-top:5px;
 
  font-size:5px;

    width: 100%;
    
    }
    .tabla .button{
      
      margin:auto;
     text-decoration: none;
     width: 50%;
     background-color: #004BDB;
     color: white;
     padding:5px;    }

     .tabla .button:hover{
     
      box-shadow:  0px 4px 8px 5px rgba(0, 0, 0, 0.2);  }

     .tabla .buttonDelete:hover{
     
      box-shadow:  0px 4px 8px 5px rgba(0, 0, 0, 0.2);  }

      .tabla .buttonDelete{
     margin-top:5px;
        margin:auto;
        text-decoration: none;
        width: 50%;
        background-color: #FF2E2E;
        color: white;
        padding:5px;    }


    .tabla td, .tabla th {
      border: 1px solid #ddd;
      padding: 4px;
    }
    .tabla tr:nth-child(even){background-color: #f2f2f2;}
    .tabla tr:hover {
  
    background-color:pink;
  color:black}
  td li{
    list-style-type: none;
  }
  .tabla thead{
    
        font-size: 0.9em;
  
        letter-spacing: 0.2em;
        }
        #section2{
          min-height: 600px;
          height:auto;
          padding:3px;
         

        }
      
}

